<div class="item-menu">
  <a class="delete-item"{{action "removeItem"}}>
    <i class="fa fa-trash"></i>
  </a>
  <div class="handle">
    <i class="fa fa-arrows-alt"></i>
  </div>
  <div class="type">Реклама</div>
</div>
<div class="adv item-content">
  <div class="adv-fake"></div>
</div>
