<div class="item-menu">
  <a class="delete-item"{{action "removeItem"}}>
    <i class="fa fa-trash"></i>
  </a>
  <div class="handle">
    <i class="fa fa-arrows-alt"></i>
  </div>
  <div class="type">Подзаголовок</div>
</div>
<h1 class="heading item-content" contenteditable="{{enabled}}">{{{currentItem.content}}}</h1>
