{{#if publication.isApproved}}
  {{#if publication.canPend}}
    <a {{action 'moveToPending'}}>На доработку</a>
  {{/if}}
  {{#if publication.canPublish}}
    <a {{action 'moveToPublished'}}>Опубликовать</a>
  {{/if}}
{{/if}}
{{#if publication.isPending}}
  {{#if publication.canApprove}}
    <a {{action 'moveToApproved'}}>На проверку</a>
  {{/if}}
{{/if}}
