<div class="title">
  {{#link-to 'publications.show' publication.id }}
    {{publication.title}}
  {{/link-to}}
</div>
<time>{{publication.timeFrom}} - {{publication.totalVisits}}</time>
<span class="delete-pub" {{action "removeFromBox"}}>&times;</span>
