<div id="sources-page">
  <div class="col-lg-3 col-lg-3 left">
    <h4>Источники</h4>
    {{input value=titleFilter class="form-control title-filter" placeholder="Поиск"}}
    {{#link-to 'sources.new' class="new-source"}}
      Добавить источник
      <i class="glyphicon glyphicon-plus"></i>
    {{/link-to}}
    {{#each filteredSources as |source|}}
      {{#link-to 'sources.show' source.id class="list-source"}}
        {{source.title}} - {{source.url}}
      {{/link-to}}
    {{/each}}
  </div>
  <div class="col-lg-9 col-md-9">
    {{outlet}}
  </div>
</div>
