<a class="{{if gotImage 'remove-image visible' 'remove-image hidden'}}" {{action "removeImage"}}>Удалить картинку</a>
<i class="{{if gotImage 'hidden image-add-fake ' 'glyphicon glyphicon-picture visible image-add-fake'}}"></i>
<input name="image" type='file' class="image-add" />
<div class="image-container">
  <img src="{{model.image.url}}" />
</div>
<div class="col-lg-6 col-md-6">
  <div class="progress">
    <div class="progress-bar"></div>
  </div>
  <div class="error"></div>
</div>
