//noindex
//  .promoted
//    - Publication.where(promoted: true).where.not(id: @publication.id).each do |publication|
//      a.publication-inner  oncontextmenu="yaCounter28115085.reachGoal('PromotedClick');" keydown="yaCounter28115085.reachGoal('PromotedClick');" onclick="yaCounter28115085.reachGoal('PromotedClick');" href="#{publication.full_url}"
//        .black-background
//          .img style="background-image: url(#{publication.poster.present? ? publication.poster.small_thumb : ''});"
//          .info
//            .type style="color: #{publication.type_color};"
//              = publication.type_name
//            h3
//              = publication.title
//              - if publication.sub_title.present?
//                span= publication.sub_title
= render partial: 'publications/adv_right'
