#page-show {

  .top {
    padding: 20px;

    .save-buttons {
      padding-left: 350px;
    }

    .line-select {
      float: left;
    }

    .categories {
      float: right;

      a {
        margin: 0 3px;

        &.active {
          @extend .btn-success;
        }

        time {
          display: inline-block;
          width: 50px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .lines {
      margin-top: 25px;
      background-color: #fff;
      padding: 5px;
      min-height: 400px;
      clear: both;

      .line {
        padding: 5px 20px 0 0;
        border-top: 2px solid #e3e3e3;
        overflow: hidden;
        margin-top: 5px;

        &:first-child {
          //border-top: none;
        }

        &:hover {
          .delete {
            opacity: 1;
          }
        }

        .delete{
          position: absolute;
          margin: -8px 10px 0 0;
          right: 0;
          color: #000;
          cursor: pointer;
          font-size: 18px;
          opacity: 0;
          transition: opacity .5s;
        }

        .box {
          display: block;
          padding: 0;
          background-size: cover;
          background-position: center;

          .background {
            padding: 0 2.5px;
            background-color: rgba(#ffffff, 0.6);
          }

          .box-list {
            height: auto;
            clear: both;
            overflow: hidden;

            padding: 5px;
            margin-top: 5px;
            border: 2px dashed #ccc;

            .publication-element {
              padding: 0;
            }
          }

          .title-input {
            padding: 0 5px;
            margin-bottom: 10px;
            border: none;
            border-radius: 5px;
            width: 120px;
          }

          .menu {
            height: 30px;
            background-color: #eee;

            div {
              padding: 0 5px;
            }

            i {
              padding: 6px 3px;
              font-size: 15px;
              cursor: pointer;
              color: #999;
            }

            .image-add {
              display: none;
            }

            .progress {
              margin: 5px;
              display: none;
            }

            .error {
              display: none;
              padding: 6px 3px;
              color: $btn-warning-bg;
              font-shadow: 1px #fff;
            }

            .type {
              display: inline-block;
              cursor: pointer;
              height: 30px;
              line-height: 30px;
              width: 30px;
              text-align: center;
              color: #999;
              transition: color .5s;

              &.current {
                background-color: #fff;
              }

              &:hover {
                color: #555;
              }
            }
          }
        }
      }
    }
  }
}
