<div class="{{ if model.sourceValid 'form-group has-success' 'form-group has-error' }}">
  <label for="title">Ссылка на источник</label>
  {{input value=model.url name="source" class="form-control" placeholder="Ссылка на источник"}}
  {{#unless model.sourceValid}}
    <span class="help-block">Источник обязателен</span>
  {{/unless}}
  {{#if gotSourceError}}
    {{#if sourceErrorNotFound}}
      <span class="help-block">Источник не найден, нужно сначала добавить его в список</span>
    {{/if}}
    {{#if sourceErrorFoundAsParent}}
      <span class="help-block">У указанного источника уже есть субисточники, но среди них не найден нужный, добавьте в базу нужный субисточник</span>
    {{/if}}
  {{/if}}
  {{#if model.sourceValid}}
    <br />
    <div class="source-name">
      Связано с источником:&nbsp;
      <b>{{model.source.title}}</b>
      <span class="remove" {{action "removeSource"}}>&times;</span>
    </div>
  {{/if}}
</div>
