#disqus_thread {
  .button-disqus {
    text-align: center;
    padding: 15px;

    .btn {
      padding: 10px 20px 10px 17px;

      i {
        color: $color2;
        margin-right: 12px;
      }
    }
  }
}
